UPDATE PlaceImages SET ImageUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Bridge_on_the_River_Kwai_-_Kanchanaburi.jpg/1280px-Bridge_on_the_River_Kwai_-_Kanchanaburi.jpg' WHERE PlaceId = 1;
UPDATE PlaceImages SET ImageUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Erawan_Waterfall%2C_Kanchanaburi_Province%2C_Thailand_-_June_2004.jpg/1280px-Erawan_Waterfall%2C_Kanchanaburi_Province%2C_Thailand_-_June_2004.jpg' WHERE PlaceId = 2;
UPDATE PlaceImages SET ImageUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Thai_food_at_a_restaurant_in_Chiang_Mai.jpg/1280px-Thai_food_at_a_restaurant_in_Chiang_Mai.jpg' WHERE PlaceId IN (4);
UPDATE PlaceImages SET ImageUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/U_Inchantree_Kanchanaburi.jpg/1280px-U_Inchantree_Kanchanaburi.jpg' WHERE PlaceId IN (5, 6, 7);
